header {
  position: relative;
}

header nav a {
  color: white;
}

.header-icons i {
  color: white;
}

.desktop-container {
  color: white;
  background-color: transparent;
}

section {
  min-height: 100dvh;
}

#about-hero-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 2560px;
}

#about-hero-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#about-hero-section div {
  position: relative;
  z-index: 1;
  color: white;
  padding: 10px;
}

.content {
  max-width: 1500px;
  width: 100%;
}

#hero-section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  text-align: center;
  gap: 25px;
  height: 80dvh;
}

#hero-section-content h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.hero-section-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-content: center;
  place-items: center;
  width: 100%;
  text-align: center;
  gap: 25px;
}

#future-section {
  place-items: center;
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/h_1620,w_2880,c_fit,f_auto,q_auto:best/About-Us-Power-Hero-Desktop-Global");
}

#future-section-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-align: center;
  max-width: 750px;
  width: 100%;
}
